@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&family=Nova+Round&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Racing+Sans+One&family=Rye&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Poppins", serif;
}

.rye-font {
    font-family: "Rye", serif;
}

.racing-font {
    font-family: "Racing Sans One", sans-serif;
}

.mitr-font {
    font-family: "Mitr", sans-serif;
}

.nova-font {
    font-family: "Nova Round", system-ui;
}

.hover-text:hover{
    text-shadow: 2px 2px 2px skyblue;
    cursor: pointer;
}

.gradient-text {
    background: linear-gradient(349deg, #009bff, #00ffd6);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}